<div class="scoreBoard">
    <img id="musicImg1" src="https://images.pexels.com/photos/257904/pexels-photo-257904.jpeg?cs=srgb&dl=audio-business-computer-257904.jpg&fm=jpg">

        <h1 class="gameOver">Game Over</h1> 

        <div class="scroll">
            <h1 class="thanks" >Thanks for Playing {{$ctrl.playerName}}!!!!</h1>
        </div>
    <div class="row">
        <div>
            <!-- <p class="name" >{{$ctrl.playerName}}Name</p> -->
       
            <p ng-model="$ctrl.playerScore" class="score">Score: {{$ctrl.playerScore}}</p>
        </div>
    </div>
    
</div>
